:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --minor-text-color: #ffffff;
  --accent-color: #2196f3;
}
body {
  font-family: "Roboto", sans-serif;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.current-link {
  color: var(--accent-color);
}
/* Шапка сайту */
.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.logo-header {
  color: #000000;
}
.header-nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.header-nav-link:hover,
.header-nav-link:focus {
  color: var(--accent-color);
}
.current-link {
  color: var(--accent-color);
}
.header-contacts-mail,
.header-contacts-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}
.header-contacts-mail:hover,
.header-contacts-mail:focus,
.header-contacts-tel:hover,
.header-contacts-tel:focus {
  color: var(--accent-color);
}
/* Блок Герой */
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--minor-text-color);
}
.hero-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--minor-text-color);
  background-color: var(--accent-color);
  cursor: pointer;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #188ce8;
}
/* Преимущества */
.benefits-title {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.benefits-topic {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}
.benefits-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
/* Чем занимаемся, Наша команда*/
.work-title,
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.team-member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.team-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
/* Футер */
.logo-footer {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--minor-text-color);
}
.footer-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--minor-text-color);
}
.footer-contacts-mail,
.footer-contacts-tel {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-contacts-mail:hover,
.footer-contacts-tel:hover,
.footer-contacts-mail:focus,
.footer-contacts-tel:focus {
  color: var(--accent-color);
}
/* Фон для Героя и Футера */
.hero,
.footer {
  background-color: #2f303a;
}

/* ---------------ПОРТФОЛИО -----------------*/
.portfolio-title {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.portfolio-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: #f5f4fa;
  cursor: pointer;
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--minor-text-color);
  background-color: var(--accent-color);
}
.example-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}
.example-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
